@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@absolo/design-tokens/css';

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  font-family: var(--absolo-font-sans);
  background-color: var(--absolo-bg);
  color: var(--absolo-fg);
  font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11';
}
